.loop
.toolchain
data/test/
local_make.inc
mnt/
seakernel/
tools/man_gen_tmp/
*.img
skernel
apps/porting/ported
toolchain/build*
*.tar.*
toolchain/binutils-*
toolchain/gcc-*
toolchain/newlib-*
data-i586-pc-seaos
data-x86_64-pc-seaos
*.kdev4
local_database

